# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/
ENV/

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files / large files
*.h5
*.pt
*.ckpt
*.onnx


# Python cache
*.pickle
*.pkl

# Output folders
__pycache__/
build/
dist/


model/
images/
